<html>
<head>
  <title>Examples Websites</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="/css/index_style.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
<!-- header row -->
<div class="row page-head">
  <div class="page-header">
<h1>{{title}}</h1>
<p>{{about}}</p>

  </div>
</div>

<!-- navbar row -->
<div class="row navbar">
  <ul>
    <li>Home</li>
    <li>blog</li>
    <li>projects</li>
  </ul>
</div>

<!-- content for websites row -->
<div class="row rows_of_content row_c_1">
  <div class="boxes_of_websites"></div>
  <a href="https://diabetes-info.herokuapp.com/">diatbetes information website</a>
</div>

<!-- content for games row -->
<div class="row rows_of_content row_c_2">
</div>

<!-- content for post row -->
<div class="row rows_of_content row_c_3">
</div>

<!-- footer row -->
<div class="row last_row">
</div>

</div>
</body>
