<html>
<head>
  <title>Phillip Salazar</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link href="/css/uni.css" rel="stylesheet">
  <link href="/css/mobile.css" rel="stylesheet">
  <link href="/css/website_style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel=icon href=/assets/favicon.png sizes="16x16" type="image/png">
</head>
<body>
  <!-- container for the website -->
  <div class="container-fluid">

<!-- row 1 for the website page -->
  <div class="row top-row">
<h1 id="proTitle" class="title-of-pages">{{title}}</h1>
<h3 id="proIntro">{{text}}</h3>
</div>

<!-- row 2 for the website page -->
<div class="row middle-row">
  <div class="boxes">
    <a href="https://noderjs.herokuapp.com/" target="_blank"><div id="p1" class="box">
      <div class="box-header"><h3>Noder</h3></div>
      <ul>
        <li>Uses Node.js and express.</li>
        <li>Uses Angular.js.</li>
        <li>Reads markdown file.</li>
      </ul>
    </div></a>

  <a href="https://diabetes-info.herokuapp.com/" target="_blank"><div id="p2" class="box">
<div class="box-header"><h3>diatbetes-info</h3></div>
    <ul>
      <li>Static website.</li>
      <li>Uses jquery.</li>
      <li>Uses Bootstrap.</li>
    </ul>
  </div></a>

    <a href="https://artz.herokuapp.com/" target="_blank"><div id="p3" class="box">
<div class="box-header"><h3>Artz</h3></div>
    <ul>
      <li>HTML5 slideshow.</li>
      <li>Uses reveal.js and jquery.</li>
      <li>Was a school project.</li>
    </ul>
  </div></a>

  <a href="https://funfactz.herokuapp.com/" target="_blank"><div id="p4" class="box">
<div class="box-header"><h3>FunFactz</h3></div>
    <ul>
      <li>Uses PHP</li>
      <li>Generate random factz</li>
  <!--    <li></li> -->
    </ul>
  </div></a>

  </div>
</div>

<!-- row 3 for the website -->
<div class="row last-row">
  <div class="bottom">
  <a href="#"><p>Github: is https://github.com/PhillipSalazar</p></a>
  <br>
  <div class="mobile-box"><p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p></div>
</div>
</div>

<!-- end of everything -->
</div>
<!-- where the scripts are located -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/dom.js"></script>
</body>
</html>
