@media only screen and (max-width: 500px) {
    .boxes_of_websites {
        width: 125px;
        height: 125px;
        margin-top: 15%;
    }

    .page-header {
      margin-left: 15%;
    }

    .intro_text {
      margin-left: 15%;
    }

    .row_c_1 {
      height: 100px;
    }
    .mobile-box {
      width: 75%;
    }

}

@media only screen and ( max-width: 500px ) {
  .boxes_of_websites img {
    width: 75px;
    height: 75px;
    margin-left: 20%;
  }

  #blog {
    margin-top: -5% !important;
  }
}

/* for projects page */

@media only screen and ( max-width: 500px ){
  .middle-row {
    height: 1000px;
  }

  .boxes {
    margin-left: 12%;
  }

  .box {
    height: 200px !important;
    width: 200px !important;
    margin-top: 10% !important;
  }
  .box .box-header {
    width: 175px !important;
  }

  #proTitle {
    margin-left: 5%;
  }

  #proIntro {
    margin-left: 5%;
  }

  .last-row .mobile-box {
    margin-left: 0% !important;
    margin-top: 0%;
  }
}


/*

@media only screen and ( max-width: 700px ){
  .middle-row {
    height: 200px !important;
  }
}
*/
