/* CSS variable for font*/
@font-face {
    font-family: fontz;
    src: url(../assets/font.ttf);
}

/* rows */
.top-row {
  background-color: #404040;
  color: white;
  height: 200px;

}

.middle-row {
  height: 600px;
  /*height: auto + ; */

}

.last-row {
  background-color: #404040;
  color: white;
  height: 200px;
}

.last-row a {
  color: white;
}


.bottom {
  margin-left: 15%;
  margin-top: 3%;
}
