/* variables */
@font-face {
    font-family: fontz;
    src: url(../assets/font.ttf);
}
h1 , h3 , li , p {
  font-family: fontz;
}

/* increments */
.top-row h1 {
  margin-left: 15%;
}

.top-row h3 {
  margin-left: 15%;
}


.box {
  height: 250px;
  width: 250px;
  border: 3px solid black;
  border-radius: 10px;
  margin-left: 9%;
  margin-top: 5%;
  float: left;
}

.box-header {
  margin-left: 5%;
  width: 200px;
  border-bottom: 2px solid black;
  margin-top: 3%;
}
.box-header h3 {
  margin-left: 15%;
}

.box ul li {
  margin-top: 10%;
}

.boxes a {
  color: black;
}
